# PYTHON CRASH COURSE
#### Nov 23, 2021
#### Author: Chaithra Kopparam Cheluvaiah

### STRING 
- formatting 
- immutable
- slicing

In [64]:
num = 12
name= 'Chaithra'

In [12]:
'my num is {} and my name is {}'.format(num, name)

'my num is 12 and my name is Chaithra'

In [13]:
'my num is {one} and my name is {two}, more {one}'.format(one=num, two=name) # more suggested way
# no need to worry about formatting being in exact same order

'my num is 12 and my name is Chaithra, more 12'

In [1]:
var = 'chaithra kopparam cheluvaiah'

In [23]:
var[5]  # indexing the string

'h'

In [16]:
var[0:] # all the characters starting from index 0

'chaithra kopparam cheluvaiah'

In [18]:
var[3:5] # all the characters starting from index 3 - 4

'it'

In [20]:
var[:] # all the characters

'chaithra kopparam cheluvaiah'

In [25]:
var[0] = 'z' # strings are immutable

TypeError: 'str' object does not support item assignment

In [5]:
var[::-1] # reversing the strinng

'haiavulehc marappok arhtiahc'

In [6]:
var[::-2]  # keeps subtracting step size 2 from the end index

'hivlh aapkahih'

In [18]:
# var = 'chaithra kopparam cheluvaiah'
var[::3]  # keeps adding step size 3 to the start index

'cirkpaclah'

### LIST
- slicing
- mutable
- nested list

In [2]:
my_list = ['a','b','c','d','e']

In [3]:
my_list[1:4] # list slicing

['b', 'c', 'd']

In [19]:
my_list[1:5] # last index does not exist but it doesnt give any error

['b', 'c', 'd', 'e']

In [29]:
my_list[0] = 'New' # list is mutable

In [30]:
my_list

['New', 'b', 'c', 'd', 'e']

In [32]:
nested_list = [1,2,[3,4]]

In [33]:
nested_list[2]

[3, 4]

In [34]:
nested_list[2][0] # in numpy, this syntax is used for 2d array selection

3

In [35]:
deep_nested = [1,2,[3,4,['target']]]

In [36]:
deep_nested[2]

[3, 4, ['target']]

In [37]:
deep_nested[2][2] # note that output is still a list with single element

['target']

In [38]:
deep_nested[2][2][0]

'target'

### DICTIONARIES 
- nested dicts
- keys are immutable

In [43]:
d = {'key1':'v1', 'k2':'v2', 'k3':123}

In [44]:
# indexing dictionary
d['key1']

'v1'

In [45]:
d['k3']

123

In [49]:
# dictionaries can take in any items as their values
d = {'k1':[1,2,3]}

In [50]:
d['k1']

[1, 2, 3]

In [51]:
d['k1'][0]

1

In [53]:
my_list = d['k1']  # better coding
my_list[0]

1

In [56]:
# nested dictionaries
d = {'k1':{'innerkey':[1,2,3]}}

In [60]:
# lets say, we want to access 2 from the list
d['k1']['innerkey'][1]

2

### TUPLE 
- Immutable

In [61]:
# tuple
t = (1,2,3)

In [62]:
# indexing tuple
t[0]

1

In [63]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### SET
- creating set from list
- add()

In [65]:
{1,2,3,1,1,1,1,1,2,3,4} # keeps unique values

{1, 2, 3, 4}

In [67]:
set([1,2,3,1,1,1,1,1,2,3,4]) # passing list to set constructor to grab unique elements

{1, 2, 3, 4}

In [68]:
# add items to set
s = {1,2,3}
s.add(5)

In [69]:
s

{1, 2, 3, 5}

In [70]:
s.add(5) # it wont retreive error

In [71]:
s # it just keeps unique elements

{1, 2, 3, 5}

## Logical Operators

In [72]:
1 < 2

True

In [73]:
1 >= 2

False

In [74]:
1 == 1

True

In [75]:
1 == 2

False

In [76]:
1 != 3

True

In [77]:
'hi' == 'bye'

False

In [78]:
'hi' != 'bye'

True

In [79]:
(1 < 2) and (2 < 3) # paranthesis makes it more readable

True

In [80]:
(1 > 2) and (2 < 3)

False

### CONDITIONAL STATEMENTS

In [81]:
if 1 < 5:
    print('yep!')

yep!

In [82]:
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

Middle

In [85]:
if 1 == 2:
    print('First')
elif 4 == 4:
    print('second') # it is going to execute only this block and exit 
                    #even though other statements might be true below
elif 3 == 3:
    print('Middle')
else:
    print('Last')

second

### LOOPS
- for
- while

In [86]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [87]:
i = 1

while i < 5:
    print('i is {}'.format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4

### RANGE

In [20]:
range(0,5) # returns range object

range(0, 5)

In [22]:
list(range(5))

[0, 1, 2, 3, 4]

In [92]:
list(range(0,5)) # 0 is redundant

[0, 1, 2, 3, 4]

In [1]:
for num in range(7,5): # no error even though end < start. for loop will not run
    print(num)

In [26]:
for num in range(7,10):
    print(num)

7
8
9

### LIST COMPREHENSION - FOR LOOP BUT BACKWARDS

In [99]:
x = [1,2,3,4,5]
out = []

In [100]:
for num in x:
    out.append(num **2)
out

[1, 4, 9, 16, 25]

In [101]:
[num**2 for num in x] # for loop but backwards - reduced lines of code : can be done using map() also

[1, 4, 9, 16, 25]

In [102]:
out = [num**2 for num in x]

In [103]:
out

[1, 4, 9, 16, 25]

### FUNCTIONS

In [108]:
def my_func(name): # function name starts with lower case letters
    print('Hello, '+name)

In [109]:
my_func('Chaithra')

Hello, Chaithra

In [110]:
def my_func(name='Default Name'): # if you want default value to one of the parameters
    print('Hello, '+name)

In [111]:
my_func()

Hello, Default Name

In [112]:
my_func(name='Chai') # you can fully explain what you are passing to function

Hello, Chai

In [113]:
my_func  # function object will be returned

In [116]:
# function returning a value
def square(num):
    return num ** 2

In [117]:
output = square(2)
output

In [2]:
# functions have documentation string using triple enlosing quote
# triple enclosing quotes basically allows you to put in giant string
def square(num):
    """
    This is a docstring.
    can go multiple lines.
    This function squares a number
    """
    return num ** 2

In [121]:
square  # shift + Tab to see the signature and docstring

### MAP & FILTER

In [122]:
def times2(num): return num * 2

In [129]:
# converting to lambda ( anonymous functions)
# remove redudant keywords - def, fucntion name, return
t = lambda num: num*2

In [130]:
t(12)

24

In [123]:
times2(6)

12

In [124]:
seq = [1,2,3,4,5]

In [127]:
map(times2, seq)

In [128]:
list(map(times2, seq)) # casting to list

[2, 4, 6, 8, 10]

In [131]:
list(map(lambda num: num*2, seq))

[2, 4, 6, 8, 10]

In [132]:
# filter for even numbers in the seq
filter(lambda num: num%2==0, seq)

In [133]:
list(filter(lambda num: num%2==0, seq))

[2, 4]

### METHODS

#### STRING METHODS
- upper
- lower
- split

In [134]:
s = 'hello my name is chaithra'

In [135]:
s.lower()

'hello my name is chaithra'

In [136]:
s.upper()

'HELLO MY NAME IS CHAITHRA'

In [1]:
s.split() # useful for text analysis

NameError: name 's' is not defined

In [1]:
# default separator is any whitespace.

txt = "welc\nome\n to the jungle" # delimiter is newline and space

x = txt.split()

print(x)

['welc', 'ome', 'to', 'the', 'jungle']

In [139]:
tweet = 'Go Sports! #Sports'

In [140]:
tweet.split('#')

['Go Sports! ', 'Sports']

#### DICTIONARY METHODS
- keys
- values
- items

In [2]:
d = {'k1':1, 'k2':2}

In [143]:
d.keys()

dict_keys(['k1', 'k2'])

In [144]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [4]:
d.values()

dict_values([1, 2])

In [5]:
vals = d.values() # dict_values object cannot be indexed
vals[0] # cannot be indexed

TypeError: 'dict_values' object is not subscriptable

In [6]:
vals = list(d.values())
vals[0]

1

#### LIST METHODS
- pop
- pop with index
- append

In [146]:
lst = [1,2,3]

In [147]:
lst.pop() # change is permanent

3

In [148]:
lst

[1, 2]

In [153]:
lst = [1,2,3,4,5]
item = lst.pop()

In [154]:
item

5

In [155]:
first = lst.pop(0) # pop with index

In [161]:
print(lst)
print(first)

[2, 3, 4, 'NEW']
1

In [158]:
lst.append('NEW') # append new element to end of the list

In [159]:
lst

[2, 3, 4, 'NEW']

### IN

In [162]:
'x' in [1,2,3,4,5]

False

In [5]:
'x' in ['x','y','z']

True

In [6]:
'dog' in 'martha is a dog!'

True

#### TUPLE UNPACKING

In [164]:
x = [(1,2),(3,4),(5,6)]

In [165]:
x[0]

(1, 2)

In [166]:
x[0][1]

2

In [167]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [168]:
# tuple unpacking works when iterating over list of tuples
for (a,b) in x:
    print(a)

1
3
5

In [169]:
for a,b in x: # paranthesis are optional
    print(b)

2
4
6

### STRING FORMATTING IN JPMC INTERVIEW

In [5]:
# when we want to have specific decimal places
print('%.2f'%39.5)
print('%.2f'%39)

39.50
39.00

In [5]:
# {[argument_index_or_keyword]:[width][.precision][type]}
'{:.2f}'.format(38.9)

'38.90'

In [12]:
'{:.1f}'.format(38.28) # rounds off

'38.3'

In [16]:
'{num:.2f}'.format(num=38.9)

'38.90'

In [17]:
'{num:10.2f}'.format(num=38.9)

'     38.90'