In [ ]:
# Name: Chaithra Kopparam Cheluvaiah
# 27 Nov 2021

# PANDAS DATAFRAMES - PART 1

In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
np.random.seed(101) # to get same random numbers

In [5]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z']) # data, index args are smilar to numpy. 
# additional columns argument in pandas

df # looks like excel

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### INDEXING & SELECTION

#### SELCTING COLUMNS: Each column is a pandas series

In [6]:
df['W'] # recommended way

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
type(df['W'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.W #sql syntax to select columns (table.coumn_name) but this is not recommended

#pandas might get confused with various methods ara availale off of data frame. 
#one of the method might get overriden by column name. pandas can get confused whether you are asking for ColumnName or a method.

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [12]:
# selecting multiple columns
df[['W','Z']] # pass list of column names

# it returns a data frame. selecting a single column will result in a series
# in jupyter notebook, it is noted by the way output is displayed.

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [14]:
# creating new column

# in pandas supports creation of new column by just specifying the column as if it already exists.

df ['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [15]:
# removing columns
df.drop('new') # this gives key error: "['new'] not found in axis"

# Reason being axis=0 by default. so drop methid refers to index.

KeyError: "['new'] not found in axis"

In [17]:
# referring to columns
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
# drop is not inplace by default to not accidentally loose information
df # 'new' column still exist

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [19]:
df.drop('new',axis=1,inplace=True)

In [20]:
df # 'new' is permanently dropped

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [21]:
# dropping the rows
df.drop('E') # axis=0 is default

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [22]:
# why are the rows have axis=0 and columns have axis=1
df.shape # returns tuple

# 0 index is rows 
# 1 index is columns

(5, 4)

#### SELECTING ROWS - Each row is pandas series

In [26]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
# Two ways to select rows - loc and iloc
df.loc['A'] 

# notice that we are using saquare brackets here for loc method instead of paranthesis ()

# This is little weird in pandas but that's the way it works

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [ ]:
df.loc['A']  # it retursn series

In [25]:
df.iloc[2] # selects C row

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

#### SELECTING SUBSET OF DATAFRAME

In [27]:
# just like numpy we can use comma notation

df.loc['B','Y'] # selects just a single value

-0.8480769834036315

In [29]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

#### QUICK REVIEW:
1. creating data frame - pd.DataFrame(data, index, columns). Ususally data is imported from a source like csv. 
2. selecting cols - df[] pass in a column name or list of column names
3. each column is a series
4. creating new column
5. drop rows/columns df.drop(axis, inplace)
6. selecting rows - loc(label based index location) and iloc(integer based index location) methods
7. subsets of dataframe - df.loc[] pass the rows, columns list